body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  header {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
  }
  
  aside {
    grid-column: 1 / span 1;
  }
  

  .valkommen {
    text-align: center;
  }

  .creator {
    text-align: center;
  }
  
  .creator img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .progress {
    text-align: center;
  }
  
  .progress div {
    display: inline-block;
  }
  
  .progress img {
    width: 250px;
    height: 250px;
    margin: 10px;
  }
  
  .progress p {
    text-align: center;
  }
  
  .before p, .after p {
    font-weight: bold;
    font-size: 30px;
  }
  
  
  footer {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }

  